<form class="notes-info" [formGroup]="contactNotesForm" [connect]="['contact', 'contactForms', 'notesForm']">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group about-me">
        <div class="form-group">
          <mat-form-field class="full-width">
            <textarea matInput rows="6" placeholder="About Me" formControlName="notes"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="stepper-actions" fxLayoutAlign="space-between center">
  <button mat-raised-button color="default" matStepperPrevious>Previous</button>
  <button mat-raised-button color="primary" [disabled]="!contactNotesForm.valid" (click)="createContact()">Create</button>
</div>